<h3>Add Project</h3>
<form action="/projects" method="post">
  <div class="form-group">
    <label for="project_title">Project Title</label>
    <input required id="project_title" name="project_title" class="form-control" type="text">
  </div>
  <button type="submit"class="btn btn-primary mt-3">Add Project</button>
</form>