<h3>Delete Project</h3>
  <form action="/projects/:id/delete" method="post">
    <input name="_method" type="hidden" value="delete">
    <div class="form-group">
      <% if @projects.any?%>
        <select id = "project_id" name="project_id" class="form-select">
        <% @projects.each do |project| %>
        <option name="<%= project.title %>" value="<%= project.id %>"><%= project.title %></option>
      <% end %>
      </select>
    <button type="submit"class="btn btn-danger mt-3">Delete Project</button>
      <% else %>
        <p>There are currently no available projects.</p>
      <% end %>
    </div>
  </form>