<% if @volunteers.any? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Volunteer ID</th>
        <th scope="col">Volunteer Name</th>
      </tr>
    </thead>
    <tbody>
      <% @volunteers.each do |volunteer| %>
        <tr>
          <th scope="row"><%= volunteer.id %></th>
          <td><a href="/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are currently no volunteers.</p>
<% end %>