<h2>Volunteer: <%= @volunteer.name %></h2>

<% if @volunteer.project_id !=  %>
  <h3>Currently working on project "<%= Project.find(@volunteer.project_id).title %>"</h3>
  
<%else%>
  <h3>Not currently planned to volunteer</h3>
<%end%>

<%# stretch goal --> list out other volunteers with volunteer? %>